body{
  width: 100%;
  height: 100%;
  background-image: url(./image/maxresdefault.jpg);

}
.container{
  color: yellow;
	position: absolute;
	width: 50%;
  height: 100vh;
  left: 25%;
	font-size: 250%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform: perspective(300px) rotateX(25deg);
}



.content{
	position: absolute;
	top: 100%;
	animation: scroll 60s linear 1s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
.content img{
margin-left: 230px;
}
