 .page{
  width: 780px;
  margin: auto;
  font-size: 16px;
  font-family: sans-serif;
  padding: 40px;
  border: 5px solid #3388CC;
  border-radius: 10px;
  box-shadow: 2px 4px 3px black;
  background-color: #FFFFFF;
}

.infophoto{
  height: 250px;
}

.photo img{
  width: 200px;
  height: 200px;
  float: right;
}

.info{
  float: left;
}
.section{
  text-align: justify;
  margin-bottom: 70px;
  border: 2px solid red;
  border-radius: 10px;
}
.sec-gauche{
  float: left;
  font-weight: bold;
  font-size: 20px;
}
.sec-droite{
  margin-left: 150px;
  margin-top: 37px;

}

h2{

  font-size: 28px;
  color: #3388BB;
  text-transform: uppercase;
  border-bottom: 3px solid #3388DD;
}
.duree{
  font-weight:normal;
  font-style:italic;
  font-size: 16px;
}
.titre{
  font-weight: bold;
  font-size: 20px;
}
#exp-gauche p{
margin-bottom: 37px;
}
#exp-droite {
  padding-top: 30px;
}

#dip-gauche {
  margin: auto;
  line-height: 38px;
}

#dip-droite {
  margin: auto;
  padding: 65px;
}
#form-gauche {
  margin: auto;
}
#form-droite {
  margin: auto;
  padding-top: 57px;
}
#diver-gauche p{
line-height: 11px;
}
#diver-droite {
  margin: auto;
  padding-top: 60px;
  line-height: 29px;
  padding-left: 300px;
}
body{
  background-color: #CCCCCC;
}
